*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

/* header */
header{
    background-color: yellow;
    height: 75px;
}

/* /header */

/* main */
/* /main */

/* footer */
/* /footer */