*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'Roboto', sans-serif;
}

/* header */
header{
    background-color: black;
    height: 75px;
}
.container{
    display: flex;
    justify-content: flex-end;
}

.vista-intera, .icon{
    background-color: #4a4a4a;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 5px;
    color: white;
}
/* /header */


/* main */

.container-main{
    background-color: black;
    height: calc(100vh - 155px);
    overflow: auto;
}

.container-foto{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

img{
    width: calc((1750px - 10px) / 7);
    margin-bottom: 15px;  
}

.foto{
    position: relative;
}

.audio{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    bottom: 19px;
    color: white;
    padding: 5px;
}

/* /main */

/* footer */

footer{
   height: 80px;
   background-color: #222222;
   color: white;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}



.up > .fa-solid, .fa-brands{ 
    color: white;
    font-size: 25px;
    padding: 7px;
}

.scritta{
    font-size: 13px;

}

.icon-up{
    display: flex;
    
}

span{
    margin-top: 20px;
    margin-left: 15px;
}
.up{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 15px;
}

#verde{
    color: green;
}

.bottone{
    height: 100%;
    text-align: center;
    
}

button{
    height: 100%;
    background-color: #4a4a4a;
    padding: 20px;
    color: red;
    font-size: 18px;
    border: 0;
}

/* /footer */